# Configuration/Services.yaml
services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Cobweb\FlushLanguageCache\:
    resource: '../Classes/*'

  Cobweb\FlushLanguageCache\EventListener\ClearCacheListener:
    tags:
      - name: event.listener
        identifier: 'flush-language-cache/flush'
